<nav class="navbar navbar-expand navbar-dark bg-primary">

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/user/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/myfriends">My Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/mygroups">My Groups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/allusers">Users List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/creategroup">New Group</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/logout" method="Post">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
    </form>
  </div>
</nav>