<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>My Groups List</title>
</head>

<body>
    <%- include('header.ejs') %>
    <div class="container" style="background-color: #3f5169" id="maindiv">
        <div class="list-group">
                <% for(var i=0; i< groups.length; i++) { %>
            <a href='/group/<%= groups[i]._id %>' class="list-group-item list-group-item-action">
                    <%= groups[i].name %>
            </a>
            <% } %>
        </div>
    </div>
</body>
<script>
    
</script>

</html>