<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://localhost:3000/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>Register New User</title>
</head>

<body>
        <h1>Register User</h1>
    <div class="container">
        <form method="POST" action="/user/register">
            <fieldset>
                <legend>Fill your details</legend>
                <div class="form-group">
                    <label for="InputName">Name</label>
                    <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter name" name="name">
                </div>
                <div class="form-group">
                    <label for="UserPhoneNo">Phone Number</label>
                    <input class="form-control" id="UserPhoneNo" placeholder="Enter phone number" name="phno">
                </div>
                <div class="form-group">
                    <label for="UserPassword1">Password</label>
                    <input type="password" class="form-control" id="InputPassword1" placeholder="Password"
                        name="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </fieldset>
        </form>
    </div>
</body>

</html>